
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite build output
dist/
dist-ssr/
*.local

# Vite build output
dist

# Rollup build output
build/


# IDEs and editors
.idea/
.vscode/


# Local development
.env

# Build artifacts
build/
dist/
out/

# Test coverage
coverage/
